      <div class="comment">
        <div class="details">
          <div class="username-field">
            <p>{{username}}</p>
          </div>
          <div class="comment-timestamp">
            <p>{{timestamp}}</p>
          </div>
        </div>
        <div class="comment-content">
          <p>{{content}}</p>
        </div>
      </div>