  <div class="main-blog-post-container">
      <div class="main-blog-post">
        <div class="main-blog-post-title">
          <h2>{{title}}</h2>
        </div>

        <div class="main-post-image">
          <img src="{{photoURL}}" alt="Blog_Post_Photo">
        </div>
        
        <div class="main-post-contents">
          <p>{{content}}</p>
        </div>
      </div>
    </div>