<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cat Cafe</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
    <script src="index.js" charset="utf-8" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
   
  </head>
  
  <body>
    <header>
      <h1 class="site-title"><a href="#">Cat Cafe</a><i class='fas fa-cat'></i></h1>
    </header>

    <div class="site-content">
      <div class="filter-portion">
        <div class="filter-container-title">
          <h2>Filters</h2>
        </div>

        <aside class="filter-container">
          <div class="filter-input-container">
            <label for="filter-text" class="filter-input-label">Text</label>
            <div class="filter-input-element">
              <input type="text" name="filter-text" id="filter-text" class="filter-input">
            </div>
          </div>

          <fieldset class="radio-button-filter-fieldset">
            <label>
              <input type="radio" name="filter" value="all" checked> All
            </label>

            <label>
              <input type="radio" name="filter" value="today"> Today
            </label>

            <label>
              <input type="radio" name="filter" value="this-week"> This Week
            </label>

            <label>
              <input type="radio" name="filter" value="this-month"> This Month
            </label>
          </fieldset>
          
          <button id="filter-update-button" class="action-button">Update</button>
     
        </aside>
      </div>


<div class = "blog-portion">
  <div class= "blog-title">
    <h2>Blogs:</h2>
  </div>
<div class = "blog-container ">

    {{#each posts}}
    {{> blogpostTemplate}}
    {{/each}}




  </div>
  

</div>

</div>



<button class="new-post-button">New Post</button>

<div id="draft-post-modal" class="modal hidden">
  <div class="modal-content">
    <span id="c-b" class="close-button">&times;</span>
    <form id="post-form">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="post-title" required>

      <label for="post-image-url">Image URL:</label>
      <input type="text" id="post-image-url" name="post-image-url" required>

      <label for="post-content">Content:</label>
      <textarea id="post-content" name="post-content" rows="4" required></textarea>

      <label for="post-author">Author:</label>
      <input type="text" id="post-author" name="post-author" required>

      <label for="post-tags">Tags:</label>
      <input type="text" id="post-tags" name="post-tags">

      <button type="button" id="submit-post">Submit</button>
    </form>
  </div>
</div>





    
  </body>
</html>