
html body {
  margin: 0;
  padding: 0;
  min-width: 650px;
}

header {
  background-color: #adffde;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 120px;
}

header a {
  font-family: "Lucida Sans", monospace;
  color: rgb(0, 2, 14);
  text-decoration: none;
  left: 5px;
  bottom: 35px;
  padding-right: 5px;
  padding-left: 20px;
  font-size: 70px; 
  color: #000000; 
}

.site-title {
  color: #000000; 
  text-decoration: none; 
}

.site-title i {
  font-size: 65px;
  margin-left: 30px;
}



.alignment{
  display:flex;
  align-items: center;
  justify-content: center;
}
/*#draft-post-modal {
  background-color: #ccc;
  width: 750px;
  justify-content: left;
  margin-left: 50px;
  margin-top: 25px;
  border: 2px solid bisque;
  z-index: 1;
}

#draft-post-modal .close-button {
 position: relative;
 left: 650px;
}


#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

#draft-post-modal label,
#draft-post-modal input,
#draft-post-modal textarea,
#draft-post-modal button {
  margin: 19px; 
  display: block;
}*/

#postContent{
  max-width: 500px;
  width: 350px;
}



.header-buttons {
  display: flex;
  align-items: center;
  margin-right: 116px; 
  margin-top: 82px;
}

#login-dropdown {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 160px;
  height: 175px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#login-dropdown form label {
  display: block;
  color: black;
}

#login-dropdown form input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#login-dropdown form input[type="submit"] {
  font-family: "Lucida Sans", monospace;
  color: black;
  margin-top: 4px;
  cursor: pointer;
}

#login-dropdown p {
  font-size: 13px;
  margin-bottom: 10px
}

#login-dropdown button {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Lucida Sans", monospace;
  cursor: pointer;
}

#login-btn {
  cursor: pointer;
  font-family: "Lucida Sans", monospace;
  background: linear-gradient(90deg, #0066CC 0%, #74d5e8 100%);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
}

#login-btn:hover + #login-dropdown,
#login-dropdown:hover {
  margin-right: 20px;
  display: block;
  font-family: "Lucida Sans", monospace;
  background: #cef7e6;
}


 .filter-container {
  font-family: "Lucida Sans", monospace;
  background-color: #cef7e6;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
 }

.filter-input-container {
  font-family: "Lucida Sans", monospace;
  margin-bottom: 20px;
}

.filter-container-title {
  font-family: "Lucida Sans", monospace;
}

.filter-input-label {
  font-size: 12px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-input {
  font-family: "Lucida Sans", monospace;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-button-filter-fieldset {
  margin-bottom: 20px;
}

.radio-button-filter-fieldset label {
  display: block;
  margin-bottom: 8px;
}

.action-button {
  font-family: "Lucida Sans", monospace;
  background: linear-gradient(90deg, #0066CC 0%, #74d5e8 100%);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.action-button:hover {
  padding: 10px 13px;
  background: linear-gradient(90deg, #9abada 0%);
  color: #000000;
  border: solid 2px #000000;
}

#filter-update-button{  
  padding-left:98px;
  padding-right:98px;
}
.blog-portion {
  display: flex;
  flex-direction: column;
}

.blog-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 0;
  font-family: "Lucida Sans", monospace;
}

.blog-container {
  font-family: "Lucida Sans", monospace;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blog-post-container {
  margin: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 252px;
  border-radius: 10px;
}

.blog-post-container a.blog_post_link,
.blog-post-container a.blog_post_link {
  text-decoration: none;
  color: black; 
}

.blog-post-container a.blog_post_link:hover,
.blog-post-container a.blog_post_link:hover {
  text-decoration: none;
  color: #0066CC; 
}

.blog-post-container a.blog_post_link .blog-post-text {
  margin-top: -25px;
}

.blog-post {
  display: flex;
  flex-direction: column;
}

.blog-post-image {
  order: -1; 
  width: 250px;
  height: 230px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post-image img {
  width: 95%;
  height: 95%;
  object-fit: cover; 
  border-radius: 10px;

}

.blog-post-title {
  margin-left: 10px;
  max-width: 250px;
  word-wrap: break-word;
  white-space: normal;
}

.blog-post-text {
  margin-left: 10px;
}

.site-content{
  display: flex;
  flex-direction: row;
}

.filter-portion{
  margin-left: 15px;
  margin-right: 80px;
}

.main-blog-post-contents
{
  max-width: 650px;
  word-wrap: break-word;
  white-space: normal;
}

.main-blog-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 750px;
  width: 100%;
  margin-bottom: 50px;
}

.main-blog-post-title {
  margin-bottom: 20px;
  max-width: 650px;
  word-wrap: break-word;
  white-space: normal;
}

.main-post-image {
  width: 600px;
  height: 400px;
  max-width: 600px;
  max-height: 500px;
  overflow: hidden;
}

.main-post-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-post-contents {
  text-align: justify;
  max-width: 650px;
  word-wrap: break-word;
  white-space: normal;
}
.comment-container{
  display: flex;
  flex-direction: column;

}
.comment{
  display:flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin: 15px;
  width: 740px

}

.details{
  display:flex;
  flex-direction: row;
  margin-left: 20px;
}

.comment-content{
  margin-left:20px;
  max-width: 750px;
  word-wrap: break-word;
  white-space: normal;
}

.username-field{
  margin-right: 15px;
}

.comments-section-title h2{

  border-bottom: 2px solid bisque;
}

.comment-post-container{
  display:flex;
  justify-content: center;
  border-bottom: 2px solid bisque;
}

.comment-post-container form{
  display:flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hidden
{
  display: none;
}

.new-post-button {
font-family: "Lucida Sans", monospace;
font-weight: 0;
font-size: 14px;
color: white;
background: linear-gradient(90deg, #0066CC 0%, #74d5e8 100%);
padding: 10px 30px;
border: none;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
position: fixed;
bottom: 0;
right: 0;
margin: 10px;
}


.new-post-button:hover {
  transition : 0.3s;
  padding: 10px 13px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #0066CC 0%, #74d5e8 100%);
  color: #000000;
  border: solid 2px #000000;
}

.user-info {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.modal-content {
  background-color:#9abada;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}

#submit-post {
  background-color: #70a7e2;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}


#submit-post:hover {
  background-color: #4545a0;
}

.modal-content label {
  margin-top: 10px;
  font-weight: bold;
}

.modal-content input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#draft-post-modal {
  font-family: "Lucida Console", monospace;
  font-size: 12px;
  padding: 5px;
}

